################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPattern_Creational/bin/Debug/net9.0
/DesignPattern_Creational/obj
/DesignPattern_Creational/bin/Release/net9.0
